# TFM Suministro Global - CREAR RELACION -NECESITA_DE - de dependencia  entre materiales:
## Materiales Refinados dependen de Materiales Brutos y y pueden generarse al extraerse/procesarse  otros materiales distintos al actual.  
### Ejemplo: el Aluminio depende de la Bauxita, y  se reflejará con una relación adicional   
### _AluminioB-[NECESITA_DE]-> BauxitaB)_

##    > CREAR relación  MaterialREF--[NECESITA_DE] -->  MaterialB
##    > Si aplica, CREAR relación adicional  MaterialB--[NECESITA_DE] -->  MaterialB
##    > Si aplica, CREAR relación adicional  MaterialREF--[NECESITA_DE] -->  MaterialB
##    > Si aplica, CREAR nodo nuevo con propiedad específica: MaterialB {nuevo: "SI"}

## _Neo4j - py2neo_

**OBSERVACIONES**  
Ya creados los nodos ORIGEN y DESTINO
Se carga fichero de adicionales para añadir relaciones adicionales para materiales específicos
Va a añadir 3 nodos específicos de otros materiales que no están en el estudio pero que completan la cadena de suministro para el caso de los sulfuros ("Sulphur"), que depende en parte de la obtención de Gas Natural, o combustibles fósiles

## Partimos de la existencia, en paralelo a esta ejecución, de una instancia levantada y accesible de Neo4j  
### La primera vez que se quiera usar _py2neo_ erá  necesario asegurar su instalación:  _!pip install py2neo_

In [1]:
##!pip install py2neo

Collecting py2neo
  Downloading py2neo-2021.2.3-py2.py3-none-any.whl (177 kB)
Requirement already satisfied: packaging in c:\users\jucar\anaconda3\envs\rstudio\lib\site-packages (from py2neo) (21.3)
Requirement already satisfied: urllib3 in c:\users\jucar\anaconda3\envs\rstudio\lib\site-packages (from py2neo) (1.26.7)
Collecting monotonic
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Requirement already satisfied: pygments>=2.0.0 in c:\users\jucar\anaconda3\envs\rstudio\lib\site-packages (from py2neo) (2.10.0)
Requirement already satisfied: six>=1.15.0 in c:\users\jucar\anaconda3\envs\rstudio\lib\site-packages (from py2neo) (1.16.0)
Collecting interchange~=2021.0.4
  Downloading interchange-2021.0.4-py2.py3-none-any.whl (28 kB)
Collecting pansi>=2020.7.3
  Downloading pansi-2020.7.3-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: certifi in c:\users\jucar\anaconda3\envs\rstudio\lib\site-packages (from py2neo) (2021.10.8)
Requirement already satisfied: pytz in c:\users\jucar\anaconda3\envs\rstudio\lib\site-packages (from interchange~=2021.0.4->py2neo) (2021.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\jucar\anaconda3\envs\rstudio\lib\site-packages (from packaging->py2neo) (3.0.4)
Installing collected packages: pansi, monotonic, interchange, py2neo
Successfully installed interchange-2021.0.4 monotonic-1.6 pansi-2020.7.3 py2neo-2021.2.3

In [2]:
#importar la librería para poder hacer uso de sus funcionalidades y objetos
from py2neo import *

In [3]:
#acceder a la instancia levantada de Neo4j - en nuestro caso instancia Docker - asignamos credenciales de autentificación -
graph_test01 = Graph(auth=('neo4j', 's3cr3t'))

In [4]:
#que es el objeto - graph_test01
graph_test01

Graph('bolt://localhost:7687')

In [5]:
#que es el objeto - tx
#tx = graph_test01.begin()

In [6]:
#tx

In [7]:
#query de conexión de prueba sin errores
# verificar existencia de NODOS previos creados
#--- cuenta los nodos con diferentes tipos de etiqueta y los une en una única salida, 1 fila por cada tipo (name, cnt)
queryPRB= "MATCH (n)                                    \
RETURN labels (n)[0] as name, count (n) as Ntotal       \
UNION MATCH (n)                                         \
WITH labels (n)[1] as name, count (n) as Ntotal         \
WHERE name IS NOT NULL                                  \
RETURN name, Ntotal                                     \
UNION MATCH (n)                                         \
WITH labels (n)[2] as name, count (n) as Ntotal         \
WHERE name IS NOT NULL                                  \
RETURN name, Ntotal                                     \
UNION MATCH (n)                                         \
WITH labels (n)[3] as name, count (n) as Ntotal         \
WHERE name IS NOT NULL                                  \
RETURN name, Ntotal                                     \
"
graph_test01.run(queryPRB).to_data_frame()

               name  Ntotal
0         MaterialB      79
1       MaterialREF      80
2              Pais     116
3   GrupoAplicacion      88
4  SectorAplicacion      25

## CARGAR DATOS

In [8]:
import numpy as np    #datos y operativa álgegra y matrices de n dimensiones (arrays)
import pandas as pd   #carga dataset y manipulación de datos  y dataframes

In [9]:
#DATOS: Fichero completo de MATERIAS PRIMAS CRÍTICAS en el suministro GLOBAL - Atendiendo al alcance del estudio - EU CRM 2020
#FICHERO: GLMateriales_cargar.csv
#CONTENIDO: Materiales 
#USO: Crear los NODOS de tipo "MaterialB" - Material bruto y "MaterialREF" - Material Refinado) 
## -- propiedades de cada material: nombre, abreviatura, familia y subfamilia 
## -- los datos de suministro -posteriores- fijarán las relaciones entre materiales, países proveedores y usos del material 
rutaFichero =  "https://raw.githubusercontent.com/JuanKFD/UNIR_TFM/d10cd756788ce5e4b93f6b5c7ca4d40cb4aed297/GLMateriales_cargar.csv" 
dfMateriales = pd.read_csv(rutaFichero, sep=';')

In [10]:
dfMateriales.head()

    Material Mat_Abrev Mat_Familia                 Mat_Subfamilia
0  Aluminium        Al     General       Other non-ferrous metals
1   Antimony        Sb     General       Other non-ferrous metals
2    Arsenic        As     General       Other non-ferrous metals
3     Baryte      GBrt     General  Industrial & constr. minerals
4    Bauxite        Bx     General       Other non-ferrous metals

In [11]:
dfMateriales.tail()

     Material Mat_Abrev  Mat_Familia               Mat_Subfamilia
73   Tungsten         W      General  Iron and ferro-alloy metals
74   Vanadium         V      General  Iron and ferro-alloy metals
75    Yttrium         Y  Rare earths                  HREEs-Heavy
76       Zinc        Zn      General     Other non-ferrous metals
77  Zirconium        Zr      General     Other non-ferrous metals

In [14]:
dfMateriales.shape

(78, 4)

In [14]:
nFilas = dfMateriales.shape[0]

In [15]:
nFilas

78

# PREVISUALIZACION DE DATOS - MATERIALES
a = Node("Material", name=dfMateriales.Material[i])

In [16]:
for i in range(0, nFilas):
    print(dfMateriales.Material[i])
    print(dfMateriales.Mat_Abrev[i])
    print(dfMateriales.Mat_Familia[i])
    print(dfMateriales.Mat_Subfamilia[i])

Aluminium
Al
General
Other non-ferrous metals
Antimony
Sb
General
Other non-ferrous metals
Arsenic
As
General
Other non-ferrous metals
Baryte
GBrt
General
Industrial & constr. minerals
Bauxite
Bx
General
Other non-ferrous metals
Bentonite
GBn
General
Industrial & constr. minerals
Beryllium
Be
General
Other non-ferrous metals
Bismuth
Bi
General
Other non-ferrous metals
Borate
Gbo
General
Industrial & constr. minerals
Cadmium
Cd
General
Other non-ferrous metals
Cerium
Ce
Rare earths
LREEs-Light
Chromium
Cr
General
Iron and ferro-alloy metals
Cobalt
Co
General
Iron and ferro-alloy metals
Coking coal
GCc
General
Bio and other materials
Copper
Cu
General
Other non-ferrous metals
Diatomite
Di
General
Industrial & constr. minerals
Dysprosium
Dy
Rare earths
HREEs-Heavy
Erbium
Er
Rare earths
HREEs-Heavy
Europium
Eu
Rare earths
HREEs-Heavy
Feldspar
Fsp
General
Industrial & constr. minerals
Fluorspar
Fl
General
Industrial & constr. minerals
Gadolinium
Gd
Rare earths
HREEs-Heavy
Gallium
Ga
General
Other non-ferrous metals
Germanium
Ge
General
Other non-ferrous metals
Gold
Au
Precious metals
General
Gypsum
Gp
General
Industrial & constr. minerals
Hafnium
Hf
General
Other non-ferrous metals
Helium
He
General
Bio and other materials
Ho, Tm, Lu, Yb
HoTmLuYb
Rare earths
HREEs-Heavy
Indium
In
General
Other non-ferrous metals
Iridium
Ir
Precious metals
PGM-Platinum Group Metals
Iron ore
Fe
General
Iron and ferro-alloy metals
Kaolin clay
Kc
General
Industrial & constr. minerals
Lanthanum
La
Rare earths
LREEs-Light
Lead
Pb
General
Other non-ferrous metals
Limestone
Ls
General
Industrial & constr. minerals
Lithium
Li
General
Other non-ferrous metals
Magnesite
Mgs
General
Industrial & constr. minerals
Magnesium
Mg
General
Other non-ferrous metals
Manganese
Mn
General
Iron and ferro-alloy metals
Molybdenum
Mo
General
Iron and ferro-alloy metals
Natural cork
GNC
General
Bio and other materials
Natural graphite
GGr
General
Industrial & constr. minerals
Natural Rubber
GNr
General
Bio and other materials
Natural Teak wood
GNt
General
Bio and other materials
Neodymium
Nd
Rare earths
LREEs-Light
Nickel
Ni
General
Iron and ferro-alloy metals
Niobium
Nb
General
Iron and ferro-alloy metals
Palladium
Pd
Precious metals
PGM-Platinum Group Metals
Perlite
Pe
General
Industrial & constr. minerals
Phosphate rock
Phs
General
Industrial & constr. minerals
Phosphorus
P
General
Industrial & constr. minerals
Platinum
Pl
Precious metals
PGM-Platinum Group Metals
Potash
Po
General
Industrial & constr. minerals
Praseodymium
Pr
Rare earths
LREEs-Light
Rhenium
Re
General
Other non-ferrous metals
Rhodium
Rh
Precious metals
PGM-Platinum Group Metals
Ruthenium
Ru
Precious metals
PGM-Platinum Group Metals
Samarium
Sm
Rare earths
LREEs-Light
Sapele wood
GSw
General
Bio and other materials
Scandium
Sc
Rare earths
HREEs-Heavy
Selenium
Se
General
Other non-ferrous metals
Silica sand
Sl
General
Industrial & constr. minerals
Silicon metal
Si
General
Other non-ferrous metals
Silver
Ag
Precious metals
General
Strontium
Sr
General
Other non-ferrous metals
Sulphur
S
General
Industrial & constr. minerals
Talc
Tc
General
Industrial & constr. minerals
Tantalum
Ta
General
Iron and ferro-alloy metals
Tellurium
Te
General
Other non-ferrous metals
Terbium
Tb
Rare earths
HREEs-Heavy
Tin
Sn
General
Other non-ferrous metals
Titanium
Ti
General
Iron and ferro-alloy metals
Tungsten
W
General
Iron and ferro-alloy metals
Vanadium
V
General
Iron and ferro-alloy metals
Yttrium
Y
Rare earths
HREEs-Heavy
Zinc
Zn
General
Other non-ferrous metals
Zirconium
Zr
General
Other non-ferrous metals

In [21]:
dfMateriales.columns

Index(['Material', 'Mat_Abrev', 'Mat_Familia', 'Mat_Subfamilia'], dtype='object')

# CREAR RELACION _-NECESITA_DE-_ entre nodos  :MaterialB y :MaterialREF

Consulta patrón CQL-Neo4j para crear la relación buscada
MATCH
(a:MaterialREF),
(b:MaterialB)

WHERE a.name = dfMateriales.Material[i] AND b.name = dfMateriales.Material[i]
CREATE (a)-[r:NECESITA_DE {SHR_PaisMat: 0.nn, t_PaisMat: m.mm }]->(b)
RETURN type(r)

In [18]:
#  Crear RELACIONES de tipo :NECESITA_DE
#  Nodos origen y destino: MATERIALES -- "MaterialB" bruto -->  "MaterialREF" refinado
#
## PREVISAULIZAR QUERYs antes de la ejecución
# 
TipoNodoA = " :MaterialB" 
TipoNodoB = " :MaterialREF" 
TipoRelacion = " :NECESITA_DE"
inicio = 0
nFilas = dfMateriales.shape[0]
#
for i in range(inicio, nFilas):
        strQry = "MATCH (a"                                    \
            + TipoNodoA                                        \
            + "), (b " + TipoNodoB                            \
            + ") WHERE a.name = '"                             \
            +  dfMateriales.Material[i]                       \
            + "'"                                             \
            + " AND b.name = '"                               \
            +  dfMateriales.Material[i]                      \
            + "_REF'"                                         \
            + " CREATE (b)-[r"                               \
            + TipoRelacion                                    \
            + "]->(a)"                                        \
            + " RETURN type(r)"                                 
        print("QRY [" + str(i) + "]> "+ strQry)

# querys  visualizadas

QRY [0]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Aluminium' AND b.name = 'Aluminium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [1]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Antimony' AND b.name = 'Antimony_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [2]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Arsenic' AND b.name = 'Arsenic_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [3]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Baryte' AND b.name = 'Baryte_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [4]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Bauxite' AND b.name = 'Bauxite_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [5]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Bentonite' AND b.name = 'Bentonite_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [6]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Beryllium' AND b.name = 'Beryllium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [7]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Bismuth' AND b.name = 'Bismuth_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [8]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Borate' AND b.name = 'Borate_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [9]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Cadmium' AND b.name = 'Cadmium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [10]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Cerium' AND b.name = 'Cerium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [11]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Chromium' AND b.name = 'Chromium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [12]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Cobalt' AND b.name = 'Cobalt_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [13]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Coking coal' AND b.name = 'Coking coal_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [14]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Copper' AND b.name = 'Copper_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [15]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Diatomite' AND b.name = 'Diatomite_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [16]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Dysprosium' AND b.name = 'Dysprosium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [17]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Erbium' AND b.name = 'Erbium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [18]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Europium' AND b.name = 'Europium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [19]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Feldspar' AND b.name = 'Feldspar_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [20]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Fluorspar' AND b.name = 'Fluorspar_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [21]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Gadolinium' AND b.name = 'Gadolinium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [22]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Gallium' AND b.name = 'Gallium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [23]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Germanium' AND b.name = 'Germanium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [24]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Gold' AND b.name = 'Gold_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [25]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Gypsum' AND b.name = 'Gypsum_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [26]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Hafnium' AND b.name = 'Hafnium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [27]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Helium' AND b.name = 'Helium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [28]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Ho, Tm, Lu, Yb' AND b.name = 'Ho, Tm, Lu, Yb_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [29]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Indium' AND b.name = 'Indium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [30]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Iridium' AND b.name = 'Iridium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [31]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Iron ore' AND b.name = 'Iron ore_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [32]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Kaolin clay' AND b.name = 'Kaolin clay_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [33]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Lanthanum' AND b.name = 'Lanthanum_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [34]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Lead' AND b.name = 'Lead_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [35]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Limestone' AND b.name = 'Limestone_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [36]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Lithium' AND b.name = 'Lithium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [37]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Magnesite' AND b.name = 'Magnesite_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [38]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Magnesium' AND b.name = 'Magnesium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [39]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Manganese' AND b.name = 'Manganese_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [40]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Molybdenum' AND b.name = 'Molybdenum_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [41]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Natural cork' AND b.name = 'Natural cork_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [42]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Natural graphite' AND b.name = 'Natural graphite_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [43]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Natural Rubber' AND b.name = 'Natural Rubber_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [44]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Natural Teak wood' AND b.name = 'Natural Teak wood_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [45]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Neodymium' AND b.name = 'Neodymium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [46]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Nickel' AND b.name = 'Nickel_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [47]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Niobium' AND b.name = 'Niobium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [48]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Palladium' AND b.name = 'Palladium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [49]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Perlite' AND b.name = 'Perlite_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [50]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Phosphate rock' AND b.name = 'Phosphate rock_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [51]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Phosphorus' AND b.name = 'Phosphorus_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [52]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Platinum' AND b.name = 'Platinum_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [53]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Potash' AND b.name = 'Potash_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [54]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Praseodymium' AND b.name = 'Praseodymium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [55]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Rhenium' AND b.name = 'Rhenium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [56]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Rhodium' AND b.name = 'Rhodium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [57]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Ruthenium' AND b.name = 'Ruthenium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [58]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Samarium' AND b.name = 'Samarium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [59]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Sapele wood' AND b.name = 'Sapele wood_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [60]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Scandium' AND b.name = 'Scandium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [61]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Selenium' AND b.name = 'Selenium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [62]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Silica sand' AND b.name = 'Silica sand_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [63]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Silicon metal' AND b.name = 'Silicon metal_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [64]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Silver' AND b.name = 'Silver_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [65]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Strontium' AND b.name = 'Strontium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [66]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Sulphur' AND b.name = 'Sulphur_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [67]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Talc' AND b.name = 'Talc_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [68]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Tantalum' AND b.name = 'Tantalum_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [69]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Tellurium' AND b.name = 'Tellurium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [70]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Terbium' AND b.name = 'Terbium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [71]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Tin' AND b.name = 'Tin_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [72]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Titanium' AND b.name = 'Titanium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [73]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Tungsten' AND b.name = 'Tungsten_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [74]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Vanadium' AND b.name = 'Vanadium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [75]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Yttrium' AND b.name = 'Yttrium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [76]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Zinc' AND b.name = 'Zinc_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
QRY [77]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Zirconium' AND b.name = 'Zirconium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)

In [20]:
#verificar que se mantiene la conexión creada
graph_test01

Graph('bolt://localhost:7687')

In [24]:
# Crear en BD Neo4J todas  las relaciones NECESITA_DE
TipoNodoA = " :MaterialB" 
TipoNodoB = " :MaterialREF" 
TipoRelacion = " :NECESITA_DE"
inicio = 0
nFilas = dfMateriales.shape[0]
#
for i in range(inicio, nFilas):
    strQry = "MATCH (a"                                    \
            + TipoNodoA                                        \
            + "), (b " + TipoNodoB                            \
            + ") WHERE a.name = '"                             \
            +  dfMateriales.Material[i]                       \
            + "'"                                             \
            + " AND b.name = '"                               \
            +  dfMateriales.Material[i]                      \
            + "_REF'"                                         \
            + " CREATE (b)-[r"                               \
            + TipoRelacion                                    \
            + "]->(a)"                                        \
            + " RETURN type(r)"                                 
#   lanzar query CQL en la BD
    graph_test01.run(strQry)
#   Visualizar la Query lanzada
    print("EJECUTADA QRY [" + str(i) + "]> "+ strQry)
#--fin for---
#
# relaciones creadas

EJECUTADA QRY [0]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Aluminium' AND b.name = 'Aluminium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [1]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Antimony' AND b.name = 'Antimony_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [2]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Arsenic' AND b.name = 'Arsenic_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [3]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Baryte' AND b.name = 'Baryte_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [4]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Bauxite' AND b.name = 'Bauxite_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [5]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Bentonite' AND b.name = 'Bentonite_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [6]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Beryllium' AND b.name = 'Beryllium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [7]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Bismuth' AND b.name = 'Bismuth_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [8]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Borate' AND b.name = 'Borate_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [9]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Cadmium' AND b.name = 'Cadmium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [10]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Cerium' AND b.name = 'Cerium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [11]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Chromium' AND b.name = 'Chromium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [12]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Cobalt' AND b.name = 'Cobalt_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [13]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Coking coal' AND b.name = 'Coking coal_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [14]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Copper' AND b.name = 'Copper_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [15]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Diatomite' AND b.name = 'Diatomite_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [16]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Dysprosium' AND b.name = 'Dysprosium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [17]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Erbium' AND b.name = 'Erbium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [18]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Europium' AND b.name = 'Europium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [19]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Feldspar' AND b.name = 'Feldspar_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [20]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Fluorspar' AND b.name = 'Fluorspar_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [21]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Gadolinium' AND b.name = 'Gadolinium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [22]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Gallium' AND b.name = 'Gallium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [23]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Germanium' AND b.name = 'Germanium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [24]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Gold' AND b.name = 'Gold_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [25]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Gypsum' AND b.name = 'Gypsum_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [26]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Hafnium' AND b.name = 'Hafnium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [27]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Helium' AND b.name = 'Helium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [28]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Ho, Tm, Lu, Yb' AND b.name = 'Ho, Tm, Lu, Yb_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [29]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Indium' AND b.name = 'Indium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [30]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Iridium' AND b.name = 'Iridium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [31]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Iron ore' AND b.name = 'Iron ore_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [32]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Kaolin clay' AND b.name = 'Kaolin clay_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [33]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Lanthanum' AND b.name = 'Lanthanum_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [34]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Lead' AND b.name = 'Lead_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [35]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Limestone' AND b.name = 'Limestone_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [36]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Lithium' AND b.name = 'Lithium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [37]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Magnesite' AND b.name = 'Magnesite_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [38]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Magnesium' AND b.name = 'Magnesium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [39]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Manganese' AND b.name = 'Manganese_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [40]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Molybdenum' AND b.name = 'Molybdenum_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [41]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Natural cork' AND b.name = 'Natural cork_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [42]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Natural graphite' AND b.name = 'Natural graphite_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [43]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Natural Rubber' AND b.name = 'Natural Rubber_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [44]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Natural Teak wood' AND b.name = 'Natural Teak wood_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [45]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Neodymium' AND b.name = 'Neodymium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [46]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Nickel' AND b.name = 'Nickel_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [47]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Niobium' AND b.name = 'Niobium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [48]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Palladium' AND b.name = 'Palladium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [49]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Perlite' AND b.name = 'Perlite_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [50]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Phosphate rock' AND b.name = 'Phosphate rock_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [51]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Phosphorus' AND b.name = 'Phosphorus_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [52]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Platinum' AND b.name = 'Platinum_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [53]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Potash' AND b.name = 'Potash_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [54]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Praseodymium' AND b.name = 'Praseodymium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [55]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Rhenium' AND b.name = 'Rhenium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [56]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Rhodium' AND b.name = 'Rhodium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [57]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Ruthenium' AND b.name = 'Ruthenium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)

EJECUTADA QRY [58]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Samarium' AND b.name = 'Samarium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [59]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Sapele wood' AND b.name = 'Sapele wood_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [60]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Scandium' AND b.name = 'Scandium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [61]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Selenium' AND b.name = 'Selenium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [62]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Silica sand' AND b.name = 'Silica sand_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [63]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Silicon metal' AND b.name = 'Silicon metal_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [64]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Silver' AND b.name = 'Silver_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [65]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Strontium' AND b.name = 'Strontium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [66]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Sulphur' AND b.name = 'Sulphur_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [67]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Talc' AND b.name = 'Talc_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [68]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Tantalum' AND b.name = 'Tantalum_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [69]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Tellurium' AND b.name = 'Tellurium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [70]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Terbium' AND b.name = 'Terbium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [71]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Tin' AND b.name = 'Tin_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [72]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Titanium' AND b.name = 'Titanium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [73]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Tungsten' AND b.name = 'Tungsten_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [74]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Vanadium' AND b.name = 'Vanadium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [75]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Yttrium' AND b.name = 'Yttrium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [76]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Zinc' AND b.name = 'Zinc_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)
EJECUTADA QRY [77]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Zirconium' AND b.name = 'Zirconium_REF' CREATE (b)-[r :NECESITA_DE]->(a) RETURN type(r)

In [25]:
#validamos que todas las RELACIONES se han creado (hasta este paso)
queryPRB= "MATCH n=()-[r:INCLUIDO_EN]->()              \
RETURN type(r) as TipoRelacion, count (r) as Ntotal    \
UNION MATCH m=()-[p:USADO_EN]->()                      \
RETURN type(p) as TipoRelacion, count (p) as Ntotal    \
UNION MATCH m=()-[p:REFINA]->()                        \
RETURN type(p) as TipoRelacion, count (p) as Ntotal    \
UNION MATCH m=()-[p:EXTRAE]->()                        \
RETURN type(p) as TipoRelacion, count (p) as Ntotal    \
UNION MATCH m=()-[p:NECESITA_DE]->()                   \
RETURN type(p) as TipoRelacion, count (p) as Ntotal" 

graph_test01.run(queryPRB).to_data_frame()

  TipoRelacion  Ntotal
0  INCLUIDO_EN     442
1     USADO_EN     442
2       REFINA     475
3       EXTRAE     699
4  NECESITA_DE     100

# CREAR RELACION _-NECESITA_DE-_ para lista ADICIONAL de materiales entre   :MaterialB y  Material de Origen (:MaterialREF o :MaterialB) cuyo  tipo es determinado según el número de etapa de su obtención (EtapaBase con valores 1  para REF ó 2 para B ). En el caso de Material origen no especificado en las tablas de dataset del estudio de partida, se añaden algunos nuevos por completitud del grafo (material origen comenzando por "N-" será creado).
## 1- Carga del fichero de dependencias adicionales de materiales
## 2- Crear nodos de materiales adicionales (si aplica - "comienzo por "N-")
## 3- Crear relación NECESITA_DE entre materiales adicionales BRUTOS y material de origen

## 1- Carga del fichero de dependencias adicionales de materiales

In [27]:
#DATOS: Fichero con MATERIALES y MATERIALES ORIGEN PRIMAS de los que NECESITA adicionalmente
#       según elsuministro GLOBAL - Atendiendo al alcance del estudio - EU CRM 2020
#FICHERO: GLAddMatDepend_Cargar.csv
#CONTENIDO: relación de Materiales y Materiales Origen para fijar relaciones NECESITA_DE adicionales a las estándar 
#USO: Crear relación "NECESITA_DE" entre materiales adicionales: columna "Material" y columna "MaterialOrg" 
rutaFichero =  "https://raw.githubusercontent.com/JuanKFD/UNIR_TFM/main/GLAddMatDepend_Cargar.csv" 
dfMaterialADIC = pd.read_csv(rutaFichero, sep=';')
# NOTA.- el fichero admite 3 columnas adicionales para usos futuros

In [29]:
dfMaterialADIC.head(22)

     Material     MaterialOrg  EtapaBase  Unnamed: 3  Unnamed: 4  Unnamed: 5
0   Aluminium         Bauxite          1         NaN         NaN         NaN
1     Arsenic          Copper          1         NaN         NaN         NaN
2     Arsenic            Zinc          1         NaN         NaN         NaN
3     Cadmium            Zinc          1         NaN         NaN         NaN
4   Germanium            Zinc          1         NaN         NaN         NaN
5     Hafnium       Zirconium          1         NaN         NaN         NaN
6    Selenium          Copper          1         NaN         NaN         NaN
7   Tellurium          Copper          1         NaN         NaN         NaN
8     Iridium          Nickel          1         NaN         NaN         NaN
9   Palladium          Nickel          1         NaN         NaN         NaN
10   Platinum          Nickel          1         NaN         NaN         NaN
11    Rhodium          Nickel          1         NaN         NaN         NaN
12  Ruthenium          Nickel          1         NaN         NaN         NaN
13    Iridium          Copper          1         NaN         NaN         NaN
14  Palladium          Copper          1         NaN         NaN         NaN
15   Platinum          Copper          1         NaN         NaN         NaN
16    Rhodium          Copper          1         NaN         NaN         NaN
17  Ruthenium          Copper          1         NaN         NaN         NaN
18    Sulphur     Coking coal          2         NaN         NaN         NaN
19    Sulphur  N-Fossil Fuels          2         NaN         NaN         NaN
20    Sulphur   N-Natural gas          2         NaN         NaN         NaN
21    Sulphur       N-Sulphur          1         NaN         NaN         NaN

In [30]:
dfMaterialADIC.tail()

     Material     MaterialOrg  EtapaBase  Unnamed: 3  Unnamed: 4  Unnamed: 5
17  Ruthenium          Copper          1         NaN         NaN         NaN
18    Sulphur     Coking coal          2         NaN         NaN         NaN
19    Sulphur  N-Fossil Fuels          2         NaN         NaN         NaN
20    Sulphur   N-Natural gas          2         NaN         NaN         NaN
21    Sulphur       N-Sulphur          1         NaN         NaN         NaN

In [31]:
dfMaterialADIC.shape

(22, 6)

In [32]:
dfMaterialADIC.columns

Index(['Material', 'MaterialOrg', 'EtapaBase', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5'],
      dtype='object')

In [33]:
# REGLAS DEL PROCESO:
#     Si EtapaBase == '1', 
#             entonces la relación Material es con  MaterialOrg de TipoNODOAsignar= ":MaterialB" y SUFIJOorg = ""    
#     Si EtapaBase == '2', 
#             entonces la relación Material es con  MaterialOrg de TipoNODOAsignar= ":MaterialREF" y SUFIJOorg = "_REF"
#     Si MaterialOrg[0:2] == "N-",  ---- material NUEVO inexistente y hay que crearlo ----
#             entonces 
#                  CREAR NODO del tipo TipoNODOAsignar y  name MaterialOrg+SUFIJOOrg  y con propiedad {nuevo: "SI"}
#
#     CREAR RELACION "NECESITA_DE" entre MaterialB name= Material  y  :TipoNODOAsignar con name MaterialOrg+SUFIJOOrg  
##
# Crear en BD Neo4J todas  las relaciones NECESITA_DE
TipoNodoA = " :MaterialB" 
TipoNodoB = " :MaterialREF" 
TipoRelacion = " :NECESITA_DE"
PrefijoNUEVOMat = 'N-'
SUFIJOorg = ""
inicioADIC = 0
nFilasADIC = dfMaterialADIC.shape[0]
#
for i in range(inicio, nFilasADIC):
    TipoNODOAsignar=""
    SUFIJOorg = ""
    if dfMaterialADIC.EtapaBase[i] == 1:                                        #caso de material origen Bruto
        TipoNODOAsignar = TipoNodoA
        SUFIJOorg = ""
    elif dfMaterialADIC.EtapaBase[i] == 2:                                   #caso de material origen Refinado
        TipoNODOAsignar = TipoNodoB
        SUFIJOorg = "_REF"
    else:                                                       #caso -error- que NO debería darse 
        TipoNODOAsignar = ":tipo_error"
        SUFIJOorg = "_err"
# control si hay que crear un nodo de material NUEVO
    if dfMaterialADIC.MaterialOrg[i][0:2] == PrefijoNUEVOMat:   #caso de crear nuevo nodo material
        strQryCRND = "CREATE (m "                       \
        + TipoNODOAsignar                                \
        + " {name: '"                                    \
        +  dfMaterialADIC.MaterialOrg[i]+SUFIJOorg          \
        +  "', nuevo: '"          \
        + "SI"                                           \
        +"'})"
        print("EJEC. CREA NODO [" + str(i) + "]> "+ strQryCRND)
        
# se haya creado nodo origen o se usen nodos existentes, crear la relación NECESITA_DE adicional entre los nodos
    strQry = "MATCH (a"                                    \
            + TipoNodoA                                     \
            + "), (b " + TipoNODOAsignar                     \
            + ") WHERE a.name = '"                          \
            +  dfMaterialADIC.Material[i]                    \
            + "'"                                           \
            + " AND b.name = '"                             \
            +  dfMaterialADIC.MaterialOrg[i]+SUFIJOorg         \
            + "' CREATE (a)-[r"                               \
            + TipoRelacion                                   \
            + "]->(b)"                                        \
            + " RETURN type(r)"                                 
# Visualizar la Query lanzada
    print("QRY [" + str(i) + "]> "+ strQry)
#
# queries preparadas y visualizadas para control

QRY [0]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Aluminium' AND b.name = 'Bauxite' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [1]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Arsenic' AND b.name = 'Copper' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [2]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Arsenic' AND b.name = 'Zinc' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [3]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Cadmium' AND b.name = 'Zinc' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [4]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Germanium' AND b.name = 'Zinc' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [5]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Hafnium' AND b.name = 'Zirconium' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [6]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Selenium' AND b.name = 'Copper' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [7]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Tellurium' AND b.name = 'Copper' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [8]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Iridium' AND b.name = 'Nickel' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [9]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Palladium' AND b.name = 'Nickel' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [10]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Platinum' AND b.name = 'Nickel' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [11]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Rhodium' AND b.name = 'Nickel' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [12]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Ruthenium' AND b.name = 'Nickel' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [13]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Iridium' AND b.name = 'Copper' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [14]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Palladium' AND b.name = 'Copper' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [15]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Platinum' AND b.name = 'Copper' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [16]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Rhodium' AND b.name = 'Copper' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [17]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Ruthenium' AND b.name = 'Copper' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
QRY [18]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Sulphur' AND b.name = 'Coking coal_REF' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. CREA NODO [19]> CREATE (m  :MaterialREF {name: 'N-Fossil Fuels_REF', nuevo: 'SI'})
QRY [19]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Sulphur' AND b.name = 'N-Fossil Fuels_REF' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. CREA NODO [20]> CREATE (m  :MaterialREF {name: 'N-Natural gas_REF', nuevo: 'SI'})
QRY [20]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Sulphur' AND b.name = 'N-Natural gas_REF' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. CREA NODO [21]> CREATE (m  :MaterialB {name: 'N-Sulphur', nuevo: 'SI'})
QRY [21]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Sulphur' AND b.name = 'N-Sulphur' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)

In [86]:
# REGLAS DEL PROCESO:
#     Si EtapaBase == '1', 
#             entonces la relación Material es con  MaterialOrg de TipoNODOAsignar= ":MaterialB" y SUFIJOorg = ""    
#     Si EtapaBase == '2', 
#             entonces la relación Material es con  MaterialOrg de TipoNODOAsignar= ":MaterialREF" y SUFIJOorg = "_REF"
#     Si MaterialOrg[0:2] == "N-",  ---- material NUEVO inexistente y hay que crearlo ----
#             entonces 
#                  CREAR NODO del tipo TipoNODOAsignar y  name MaterialOrg+SUFIJOOrg  y con propiedad {nuevo: "SI"}
#
#     CREAR RELACION "NECESITA_DE" entre MaterialB name= Material  y  :TipoNODOAsignar con name MaterialOrg+SUFIJOOrg  
##
# Crear en BD Neo4J todas  las relaciones NECESITA_DE
TipoNodoA = " :MaterialB" 
TipoNodoB = " :MaterialREF" 
TipoRelacion = " :NECESITA_DE"
PrefijoNUEVOMat = 'N-'
SUFIJOorg = ""
inicioADIC = 0
nFilasADIC = dfMaterialADIC.shape[0]
#
for i in range(inicio, nFilasADIC):
    TipoNODOAsignar=""
    SUFIJOorg = ""
    if dfMaterialADIC.EtapaBase[i] == 1:                                        #caso de material origen Bruto
        TipoNODOAsignar = TipoNodoA
        SUFIJOorg = ""
    elif dfMaterialADIC.EtapaBase[i] == 2:                                   #caso de material origen Refinado
        TipoNODOAsignar = TipoNodoB
        SUFIJOorg = "_REF"
    else:                                                       #caso -error- que NO debería darse 
        TipoNODOAsignar = ":tipo_error"
        SUFIJOorg = "_err"
# control si hay que crear un nodo de material NUEVO
    if dfMaterialADIC.MaterialOrg[i][0:2] == PrefijoNUEVOMat:   #caso de crear nuevo nodo material
        strQryCRND = "CREATE (m "                       \
        + TipoNODOAsignar                                \
        + " {name: '"                                    \
        +  dfMaterialADIC.MaterialOrg[i]+SUFIJOorg          \
        +  "', nuevo: '"          \
        + "SI"                                           \
        +"'})"
        print("EJEC. CREA NODO [" + str(i) + "]> "+ strQryCRND)
# lanzar query CQL de crear NODO en la BD si es necesario por las condiciones del if
        graph_test01.run(strQryCRND)
        
# se haya creado nodo origen o se usen nodos existentes, crear la relación NECESITA_DE adicional entre los nodos
    strQry = "MATCH (a"                                    \
            + TipoNodoA                                     \
            + "), (b " + TipoNODOAsignar                     \
            + ") WHERE a.name = '"                          \
            +  dfMaterialADIC.Material[i]                    \
            + "'"                                           \
            + " AND b.name = '"                             \
            +  dfMaterialADIC.MaterialOrg[i]+SUFIJOorg         \
            + "' CREATE (a)-[r"                               \
            + TipoRelacion                                   \
            + "]->(b)"                                        \
            + " RETURN type(r)"                                 
# lanzar query CQL en la BD para CREAR LA RELACION
    graph_test01.run(strQry)
# Visualizar la Query lanzada
    print("EJEC. QRY [" + str(i) + "]> "+ strQry)
#
# RELACIONES CREADAS y NODOS "nuevos" cuando es necesario
#

EJEC. QRY [0]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Aluminium' AND b.name = 'Bauxite' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [1]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Arsenic' AND b.name = 'Copper' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [2]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Arsenic' AND b.name = 'Zinc' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [3]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Cadmium' AND b.name = 'Zinc' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [4]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Germanium' AND b.name = 'Zinc' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [5]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Hafnium' AND b.name = 'Zirconium' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [6]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Selenium' AND b.name = 'Copper' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [7]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Tellurium' AND b.name = 'Copper' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [8]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Iridium' AND b.name = 'Nickel' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [9]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Palladium' AND b.name = 'Nickel' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [10]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Platinum' AND b.name = 'Nickel' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [11]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Rhodium' AND b.name = 'Nickel' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [12]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Ruthenium' AND b.name = 'Nickel' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [13]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Iridium' AND b.name = 'Copper' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [14]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Palladium' AND b.name = 'Copper' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [15]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Platinum' AND b.name = 'Copper' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [16]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Rhodium' AND b.name = 'Copper' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [17]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Ruthenium' AND b.name = 'Copper' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. QRY [18]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Sulphur' AND b.name = 'Coking coal_REF' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. CREA NODO [19]> CREATE (m  :MaterialREF {name: 'N-Fossil Fuels_REF', nuevo: 'SI'})
EJEC. QRY [19]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Sulphur' AND b.name = 'N-Fossil Fuels_REF' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. CREA NODO [20]> CREATE (m  :MaterialREF {name: 'N-Natural gas_REF', nuevo: 'SI'})
EJEC. QRY [20]> MATCH (a :MaterialB), (b  :MaterialREF) WHERE a.name = 'Sulphur' AND b.name = 'N-Natural gas_REF' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)
EJEC. CREA NODO [21]> CREATE (m  :MaterialB {name: 'N-Sulphur', nuevo: 'SI'})
EJEC. QRY [21]> MATCH (a :MaterialB), (b  :MaterialB) WHERE a.name = 'Sulphur' AND b.name = 'N-Sulphur' CREATE (a)-[r :NECESITA_DE]->(b) RETURN type(r)

# Fin proceso - RELACIONES CREADAS ENTRE MATERIALES ADICIONALES-Creados también los NODOS de materiales nuevos al estudio con prefijo "N-" cuando así está marcado en el fichero de datos- MaterialOrg con ese prefijo.

In [8]:
# fin archivo