# TFM Suministro Global - WGI de Pais - Neo4j - py2neo 
WGI- Workdwide Global Index es una ponderación de diferentes valores de índices de un país que da idea de la "seguridad política, judicial, económica y en general de la "fiabilidad de un Pais" a la hora de realizar transacciones comerciales con él  
**Cuanto más alto el valor WGI de ese país, más fiable e inseguro y por tanto necesitará gestionar esos riesgos**
Ejemplo: El mínimo de Finlandia ("Finland" **WGI= 1,98**) contrasta con el máximo de Corea del Norte ("Korea, Dem. Rep." **WGI=7,74**) con un promedio de 5,00 para los países reportados en este estudio de Suministro Global

## Partimos de la existencia, en paralelo a esta ejecución, de una instancia levantada y accesible de Neo4j  
### La primera vez que se quiera usar _py2neo_ erá  necesario asegurar su instalación:  _!pip install py2neo_

In [1]:
##!pip install py2neo

Collecting py2neo
  Downloading py2neo-2021.2.3-py2.py3-none-any.whl (177 kB)
Requirement already satisfied: packaging in c:\users\jucar\anaconda3\envs\rstudio\lib\site-packages (from py2neo) (21.3)
Requirement already satisfied: urllib3 in c:\users\jucar\anaconda3\envs\rstudio\lib\site-packages (from py2neo) (1.26.7)
Collecting monotonic
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Requirement already satisfied: pygments>=2.0.0 in c:\users\jucar\anaconda3\envs\rstudio\lib\site-packages (from py2neo) (2.10.0)
Requirement already satisfied: six>=1.15.0 in c:\users\jucar\anaconda3\envs\rstudio\lib\site-packages (from py2neo) (1.16.0)
Collecting interchange~=2021.0.4
  Downloading interchange-2021.0.4-py2.py3-none-any.whl (28 kB)
Collecting pansi>=2020.7.3
  Downloading pansi-2020.7.3-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: certifi in c:\users\jucar\anaconda3\envs\rstudio\lib\site-packages (from py2neo) (2021.10.8)
Requirement already satisfied: pytz in c:\users\jucar\anaconda3\envs\rstudio\lib\site-packages (from interchange~=2021.0.4->py2neo) (2021.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\jucar\anaconda3\envs\rstudio\lib\site-packages (from packaging->py2neo) (3.0.4)
Installing collected packages: pansi, monotonic, interchange, py2neo
Successfully installed interchange-2021.0.4 monotonic-1.6 pansi-2020.7.3 py2neo-2021.2.3

In [1]:
#importar la librería para poder hacer uso de sus funcionalidades y objetos
from py2neo import *

In [2]:
#acceder a la instancia levantada de Neo4j - en nuestro caso instancia Docker - asignamos credenciales de autentificación -
graph_test01 = Graph(auth=('neo4j', 's3cr3t'))

In [3]:
#que es el objeto - graph_test01
graph_test01

Graph('bolt://localhost:7687')

In [4]:
#que es el objeto - tx
tx = graph_test01.begin()

In [5]:
tx

In [6]:
#query de conexión de prueba sin errores
# verificar existencia de NODOS de METERIALES Brutos y Refinados
#--- cuenta los nodos con diferentes tipos de etiqueta y los une en una única salida, 1 fila por cada tipo (name, cnt)
queryPRB= "MATCH (n)                                    \
RETURN labels (n)[0] as name, count (n) as Ntotal       \
UNION MATCH (n)                                         \
WITH labels (n)[1] as name, count (n) as Ntotal         \
WHERE name IS NOT NULL                                  \
RETURN name, Ntotal                                     \
"
graph_test01.run(queryPRB)

 name        | Ntotal
-------------|--------
 MaterialB   |     78
 MaterialREF |     78
 Pais        |    116

## CARGAR DATOS

In [7]:
import numpy as np    #datos y operativa álgegra y matrices de n dimensiones (arrays)
import pandas as pd   #carga dataset y manipulación de datos  y dataframes

In [8]:
#DATOS: Fichero completo de MATERIAS PRIMAS CRÍTICAS en el suministro GLOBAL - Atendiendo al alcance del estudio - EU CRM 2020
#FICHERO: GLMateriales_cargar.csv
#CONTENIDO: Materiales 
#USO: Crear los NODOS de tipo "MaterialB" - Material bruto y "MaterialREF" - Material Refinado) 
## -- propiedades de cada material: nombre, abreviatura, familia y subfamilia 
## -- los datos de suministro -posteriores- fijarán las relaciones entre materiales, países proveedores y usos del material 
rutaFichero =  "https://raw.githubusercontent.com/JuanKFD/UNIR_TFM/main/GL-Paises-WGI_cargar.csv" 
dfPaises = pd.read_csv(rutaFichero, sep=';')

In [9]:
dfPaises.head()

        Pais Pais_iso3 WGI_Pais
0    Algeria       DZA     6,43
1    Albania       ALB     5,16
2  Argentina       ARG     5,47
3    Armenia       ARM     5,41
4  Australia       AUS     2,36

In [10]:
dfPaises.tail()

              Pais Pais_iso3 WGI_Pais
111     Uzbekistan       UZB     6,98
112  Venezuela, Rb       VEN     7,30
113        Vietnam       VNM     5,75
114         Zambia       ZMB     5,40
115       Zimbabwe       ZWE     7,17

In [11]:
dfPaises.shape

(116, 3)

In [12]:
dfPaises.columns

Index(['Pais', 'Pais_iso3', 'WGI_Pais'], dtype='object')

In [13]:
nFilas = dfPaises.shape[0]

In [14]:
nFilas

116

### Cargados en memoria los _116 países con sus WGI para actualizar_ de la cadena de suministro global

# PREVISUALIZACION DE DATOS - PAISES
Aseguramos la accesibilidad y previsualización de los datos

In [15]:
for i in range(0, nFilas):
    print(dfPaises.Pais[i])
    print(dfPaises.Pais_iso3[i])
    print(dfPaises.WGI_Pais[i])

Algeria
DZA
6,43
Albania
ALB
5,16
Argentina
ARG
5,47
Armenia
ARM
5,41
Australia
AUS
2,36
Austria
AUT
2,50
Bahrain
BHR
5,15
Bangladesh
BGD
6,41
Belarus
BLR
6,18
Belgium
BEL
2,81
Bolivia
BOL
5,97
Brazil
BRA
5,08
Bulgaria
BGR
4,73
Burkina Faso
BFA
5,74
Burundi
BDI
7,00
Canada
CAN
2,26
Chile
CHL
3,11
China
CHN
5,83
Colombia
COL
5,39
Congo, D.R.
COD
7,60
Cote D_Ivoire
CIV
6,21
Cuba
CUB
5,87
Czech Republic
CZE
3,47
Denmark
DNK
2,11
Dominican Republic
DOM
5,40
Ecuador
ECU
5,99
Egypt, Arab Rep.
EGY
6,48
Estonia
EST
3,07
Ethiopia
ETH
6,52
Finland
FIN
1,98
France
FRA
3,11
Gabon
GAB
5,97
Georgia
GEO
4,47
Germany
DEU
2,47
Ghana
GHA
4,94
Greece
GRC
4,60
Guatemala
GTM
6,00
Guinea
GIN
6,72
Guyana
GUY
5,56
Hong Kong
HKG
2,56
Hungary
HUN
4,06
Iceland
ISL
2,52
India
IND
5,45
Indonesia
IDN
5,47
Iran, Islamic Rep.
IRN
6,65
Iraq
IRQ
7,35
Ireland
IRL
2,58
Israel
ISR
3,83
Italy
ITA
4,17
Jamaica
JAM
4,85
Japan
JPN
2,77
Jordan
JOR
5,16
Kazakhstan
KAZ
5,90
Kenya
KEN
6,03
Korea, Dem. Rep.
PRK
7,74
Korea, Rep.
KOR
3,74
Kuwait
KWT
5,24
Kyrgyz Republic
KGZ
6,30
Lao Pdr
LAO
6,25
Lithuania
LTU
3,50
Liberia
LBR
6,29
Madagascar
MDG
6,26
Malaysia
MYS
4,39
Mali
MLI
6,39
Mexico
MEX
5,33
Mongolia
MNG
5,18
Morocco
MAR
5,48
Mozambique
MOZ
5,93
Myanmar
MMR
6,95
Namibia
NAM
4,44
Netherlands
NLD
2,19
New Caledonia
NCL
3,23
Nigeria
NGA
6,83
Norway
NOR
2,03
Oman
OMN
4,70
Others
OTHS
0,00
Other EU
OTHEU
0,00
Other non EU
OTHNOEU
0,00
Pakistan
PAK
6,78
Panama
PAN
4,79
Papua New Guinea
PNG
5,94
Peru
PER
5,30
Philippines
PHL
5,49
Poland
POL
3,60
Portugal
PRT
3,34
Qatar
QAT
4,03
Russian Federation
RUS
6,20
Rwanda
RWA
5,17
Saudi Arabia
SAU
5,51
Senegal
SEN
5,21
Sierra Leone
SLE
6,17
Singapore
SGP
2,37
Slovakia
SVK
3,79
South Africa
ZAF
4,65
Spain
ESP
3,62
Sri Lanka
LKA
5,36
Sudan
SDN
7,70
Suriname
SUR
5,16
Sweden
SWE
2,05
Taiwan, China
TWN
3,27
Tajikistan
TJK
6,88
Tanzania
TZA
5,74
Thailand
THA
5,50
Togo
TGO
6,34
Tunisia
TUN
5,40
Turkey
TUR
5,34
Uganda
UGA
5,99
Ukraine
UKR
6,23
United Arab Emirates
ARE
3,94
United Kingdom
GBR
2,60
United States
USA
2,92
Uzbekistan
UZB
6,98
Venezuela, Rb
VEN
7,30
Vietnam
VNM
5,75
Zambia
ZMB
5,40
Zimbabwe
ZWE
7,17

In [18]:
dfPaises.columns

Index(['Pais', 'Pais_iso3', 'WGI_Pais'], dtype='object')

### Seleccionar cada nodo de tipo :País para asignarle la NUEVA PROPIEDAD  WGI_Pais con su valor
**MATCH** (n:Pais)  
**WHERE** n.name = dfPaises.Pais[i]   
**SET** n.WGI_Pais = dfPaises.WGI_Pais[i]  
**RETURN** n   

Podríamos usar  otra opción, aunque en este caso evaluaría cada vez todos los nodos para **"casar cuando"** el nodo específico tenga el nombre de país que queremos y en ese caso establecería la propiedad específica, _creándola si no existiera_:         

**MATCH** (n:Pais)  
**SET** (**CASE WHEN** n.name = dfPaises.Pais[i] **THEN** n **END**).WGI_Pais = dfPaises.WGI_Pais[i]    
**RETURN** n.name, n.WGI_Pais

In [22]:
#  Crear /ACtualizar la PROPIEDAD WGI_Pais en el nodo PAIS por cada fila leída (paises con sus WGI)
## PREVISAULIZAR QUERYs antes de la ejecución
TipoNodo = " :Pais " 
for i in range(0, nFilas):
    strQry = "MATCH (p"                                               \
        + TipoNodo                                                     \
        + ")"                                                            \
        + " WHERE n.name = '"                                           \
        + dfPaises.Pais[i]                                               \
        + "'"                                                            \
        + " SET n.WGI_Pais = "                                            \
        + str(dfPaises.WGI_Pais[i]).replace(",",".")                      \
        + " RETURN p" 
    print("QRY [" + str(i) + "]> "+ strQry)
# querys  visualizadas

QRY [0]> MATCH (p :Pais ) WHERE n.name = 'Algeria' SET n.WGI_Pais = 6.43 RETURN p
QRY [1]> MATCH (p :Pais ) WHERE n.name = 'Albania' SET n.WGI_Pais = 5.16 RETURN p
QRY [2]> MATCH (p :Pais ) WHERE n.name = 'Argentina' SET n.WGI_Pais = 5.47 RETURN p
QRY [3]> MATCH (p :Pais ) WHERE n.name = 'Armenia' SET n.WGI_Pais = 5.41 RETURN p
QRY [4]> MATCH (p :Pais ) WHERE n.name = 'Australia' SET n.WGI_Pais = 2.36 RETURN p
QRY [5]> MATCH (p :Pais ) WHERE n.name = 'Austria' SET n.WGI_Pais = 2.50 RETURN p
QRY [6]> MATCH (p :Pais ) WHERE n.name = 'Bahrain' SET n.WGI_Pais = 5.15 RETURN p
QRY [7]> MATCH (p :Pais ) WHERE n.name = 'Bangladesh' SET n.WGI_Pais = 6.41 RETURN p
QRY [8]> MATCH (p :Pais ) WHERE n.name = 'Belarus' SET n.WGI_Pais = 6.18 RETURN p
QRY [9]> MATCH (p :Pais ) WHERE n.name = 'Belgium' SET n.WGI_Pais = 2.81 RETURN p
QRY [10]> MATCH (p :Pais ) WHERE n.name = 'Bolivia' SET n.WGI_Pais = 5.97 RETURN p
QRY [11]> MATCH (p :Pais ) WHERE n.name = 'Brazil' SET n.WGI_Pais = 5.08 RETURN p
QRY [12]> MATCH (p :Pais ) WHERE n.name = 'Bulgaria' SET n.WGI_Pais = 4.73 RETURN p
QRY [13]> MATCH (p :Pais ) WHERE n.name = 'Burkina Faso' SET n.WGI_Pais = 5.74 RETURN p
QRY [14]> MATCH (p :Pais ) WHERE n.name = 'Burundi' SET n.WGI_Pais = 7.00 RETURN p
QRY [15]> MATCH (p :Pais ) WHERE n.name = 'Canada' SET n.WGI_Pais = 2.26 RETURN p
QRY [16]> MATCH (p :Pais ) WHERE n.name = 'Chile' SET n.WGI_Pais = 3.11 RETURN p
QRY [17]> MATCH (p :Pais ) WHERE n.name = 'China' SET n.WGI_Pais = 5.83 RETURN p
QRY [18]> MATCH (p :Pais ) WHERE n.name = 'Colombia' SET n.WGI_Pais = 5.39 RETURN p
QRY [19]> MATCH (p :Pais ) WHERE n.name = 'Congo, D.R.' SET n.WGI_Pais = 7.60 RETURN p
QRY [20]> MATCH (p :Pais ) WHERE n.name = 'Cote D_Ivoire' SET n.WGI_Pais = 6.21 RETURN p
QRY [21]> MATCH (p :Pais ) WHERE n.name = 'Cuba' SET n.WGI_Pais = 5.87 RETURN p
QRY [22]> MATCH (p :Pais ) WHERE n.name = 'Czech Republic' SET n.WGI_Pais = 3.47 RETURN p
QRY [23]> MATCH (p :Pais ) WHERE n.name = 'Denmark' SET n.WGI_Pais = 2.11 RETURN p
QRY [24]> MATCH (p :Pais ) WHERE n.name = 'Dominican Republic' SET n.WGI_Pais = 5.40 RETURN p
QRY [25]> MATCH (p :Pais ) WHERE n.name = 'Ecuador' SET n.WGI_Pais = 5.99 RETURN p
QRY [26]> MATCH (p :Pais ) WHERE n.name = 'Egypt, Arab Rep.' SET n.WGI_Pais = 6.48 RETURN p
QRY [27]> MATCH (p :Pais ) WHERE n.name = 'Estonia' SET n.WGI_Pais = 3.07 RETURN p
QRY [28]> MATCH (p :Pais ) WHERE n.name = 'Ethiopia' SET n.WGI_Pais = 6.52 RETURN p
QRY [29]> MATCH (p :Pais ) WHERE n.name = 'Finland' SET n.WGI_Pais = 1.98 RETURN p
QRY [30]> MATCH (p :Pais ) WHERE n.name = 'France' SET n.WGI_Pais = 3.11 RETURN p
QRY [31]> MATCH (p :Pais ) WHERE n.name = 'Gabon' SET n.WGI_Pais = 5.97 RETURN p
QRY [32]> MATCH (p :Pais ) WHERE n.name = 'Georgia' SET n.WGI_Pais = 4.47 RETURN p
QRY [33]> MATCH (p :Pais ) WHERE n.name = 'Germany' SET n.WGI_Pais = 2.47 RETURN p
QRY [34]> MATCH (p :Pais ) WHERE n.name = 'Ghana' SET n.WGI_Pais = 4.94 RETURN p
QRY [35]> MATCH (p :Pais ) WHERE n.name = 'Greece' SET n.WGI_Pais = 4.60 RETURN p
QRY [36]> MATCH (p :Pais ) WHERE n.name = 'Guatemala' SET n.WGI_Pais = 6.00 RETURN p
QRY [37]> MATCH (p :Pais ) WHERE n.name = 'Guinea' SET n.WGI_Pais = 6.72 RETURN p
QRY [38]> MATCH (p :Pais ) WHERE n.name = 'Guyana' SET n.WGI_Pais = 5.56 RETURN p
QRY [39]> MATCH (p :Pais ) WHERE n.name = 'Hong Kong' SET n.WGI_Pais = 2.56 RETURN p
QRY [40]> MATCH (p :Pais ) WHERE n.name = 'Hungary' SET n.WGI_Pais = 4.06 RETURN p
QRY [41]> MATCH (p :Pais ) WHERE n.name = 'Iceland' SET n.WGI_Pais = 2.52 RETURN p
QRY [42]> MATCH (p :Pais ) WHERE n.name = 'India' SET n.WGI_Pais = 5.45 RETURN p
QRY [43]> MATCH (p :Pais ) WHERE n.name = 'Indonesia' SET n.WGI_Pais = 5.47 RETURN p
QRY [44]> MATCH (p :Pais ) WHERE n.name = 'Iran, Islamic Rep.' SET n.WGI_Pais = 6.65 RETURN p
QRY [45]> MATCH (p :Pais ) WHERE n.name = 'Iraq' SET n.WGI_Pais = 7.35 RETURN p
QRY [46]> MATCH (p :Pais ) WHERE n.name = 'Ireland' SET n.WGI_Pais = 2.58 RETURN p
QRY [47]> MATCH (p :Pais ) WHERE n.name = 'Israel' SET n.WGI_Pais = 3.83 RETURN p
QRY [48]> MATCH (p :Pais ) WHERE n.name = 'Italy' SET n.WGI_Pais = 4.17 RETURN p
QRY [49]> MATCH (p :Pais ) WHERE n.name = 'Jamaica' SET n.WGI_Pais = 4.85 RETURN p
QRY [50]> MATCH (p :Pais ) WHERE n.name = 'Japan' SET n.WGI_Pais = 2.77 RETURN p
QRY [51]> MATCH (p :Pais ) WHERE n.name = 'Jordan' SET n.WGI_Pais = 5.16 RETURN p
QRY [52]> MATCH (p :Pais ) WHERE n.name = 'Kazakhstan' SET n.WGI_Pais = 5.90 RETURN p
QRY [53]> MATCH (p :Pais ) WHERE n.name = 'Kenya' SET n.WGI_Pais = 6.03 RETURN p
QRY [54]> MATCH (p :Pais ) WHERE n.name = 'Korea, Dem. Rep.' SET n.WGI_Pais = 7.74 RETURN p
QRY [55]> MATCH (p :Pais ) WHERE n.name = 'Korea, Rep.' SET n.WGI_Pais = 3.74 RETURN p
QRY [56]> MATCH (p :Pais ) WHERE n.name = 'Kuwait' SET n.WGI_Pais = 5.24 RETURN p
QRY [57]> MATCH (p :Pais ) WHERE n.name = 'Kyrgyz Republic' SET n.WGI_Pais = 6.30 RETURN p
QRY [58]> MATCH (p :Pais ) WHERE n.name = 'Lao Pdr' SET n.WGI_Pais = 6.25 RETURN p
QRY [59]> MATCH (p :Pais ) WHERE n.name = 'Lithuania' SET n.WGI_Pais = 3.50 RETURN p
QRY [60]> MATCH (p :Pais ) WHERE n.name = 'Liberia' SET n.WGI_Pais = 6.29 RETURN p
QRY [61]> MATCH (p :Pais ) WHERE n.name = 'Madagascar' SET n.WGI_Pais = 6.26 RETURN p
QRY [62]> MATCH (p :Pais ) WHERE n.name = 'Malaysia' SET n.WGI_Pais = 4.39 RETURN p
QRY [63]> MATCH (p :Pais ) WHERE n.name = 'Mali' SET n.WGI_Pais = 6.39 RETURN p
QRY [64]> MATCH (p :Pais ) WHERE n.name = 'Mexico' SET n.WGI_Pais = 5.33 RETURN p
QRY [65]> MATCH (p :Pais ) WHERE n.name = 'Mongolia' SET n.WGI_Pais = 5.18 RETURN p
QRY [66]> MATCH (p :Pais ) WHERE n.name = 'Morocco' SET n.WGI_Pais = 5.48 RETURN p
QRY [67]> MATCH (p :Pais ) WHERE n.name = 'Mozambique' SET n.WGI_Pais = 5.93 RETURN p
QRY [68]> MATCH (p :Pais ) WHERE n.name = 'Myanmar' SET n.WGI_Pais = 6.95 RETURN p
QRY [69]> MATCH (p :Pais ) WHERE n.name = 'Namibia' SET n.WGI_Pais = 4.44 RETURN p
QRY [70]> MATCH (p :Pais ) WHERE n.name = 'Netherlands' SET n.WGI_Pais = 2.19 RETURN p
QRY [71]> MATCH (p :Pais ) WHERE n.name = 'New Caledonia' SET n.WGI_Pais = 3.23 RETURN p
QRY [72]> MATCH (p :Pais ) WHERE n.name = 'Nigeria' SET n.WGI_Pais = 6.83 RETURN p
QRY [73]> MATCH (p :Pais ) WHERE n.name = 'Norway' SET n.WGI_Pais = 2.03 RETURN p
QRY [74]> MATCH (p :Pais ) WHERE n.name = 'Oman' SET n.WGI_Pais = 4.70 RETURN p
QRY [75]> MATCH (p :Pais ) WHERE n.name = 'Others' SET n.WGI_Pais = 0.00 RETURN p
QRY [76]> MATCH (p :Pais ) WHERE n.name = 'Other EU' SET n.WGI_Pais = 0.00 RETURN p
QRY [77]> MATCH (p :Pais ) WHERE n.name = 'Other non EU' SET n.WGI_Pais = 0.00 RETURN p
QRY [78]> MATCH (p :Pais ) WHERE n.name = 'Pakistan' SET n.WGI_Pais = 6.78 RETURN p
QRY [79]> MATCH (p :Pais ) WHERE n.name = 'Panama' SET n.WGI_Pais = 4.79 RETURN p
QRY [80]> MATCH (p :Pais ) WHERE n.name = 'Papua New Guinea' SET n.WGI_Pais = 5.94 RETURN p
QRY [81]> MATCH (p :Pais ) WHERE n.name = 'Peru' SET n.WGI_Pais = 5.30 RETURN p
QRY [82]> MATCH (p :Pais ) WHERE n.name = 'Philippines' SET n.WGI_Pais = 5.49 RETURN p
QRY [83]> MATCH (p :Pais ) WHERE n.name = 'Poland' SET n.WGI_Pais = 3.60 RETURN p
QRY [84]> MATCH (p :Pais ) WHERE n.name = 'Portugal' SET n.WGI_Pais = 3.34 RETURN p
QRY [85]> MATCH (p :Pais ) WHERE n.name = 'Qatar' SET n.WGI_Pais = 4.03 RETURN p
QRY [86]> MATCH (p :Pais ) WHERE n.name = 'Russian Federation' SET n.WGI_Pais = 6.20 RETURN p
QRY [87]> MATCH (p :Pais ) WHERE n.name = 'Rwanda' SET n.WGI_Pais = 5.17 RETURN p
QRY [88]> MATCH (p :Pais ) WHERE n.name = 'Saudi Arabia' SET n.WGI_Pais = 5.51 RETURN p
QRY [89]> MATCH (p :Pais ) WHERE n.name = 'Senegal' SET n.WGI_Pais = 5.21 RETURN p
QRY [90]> MATCH (p :Pais ) WHERE n.name = 'Sierra Leone' SET n.WGI_Pais = 6.17 RETURN p
QRY [91]> MATCH (p :Pais ) WHERE n.name = 'Singapore' SET n.WGI_Pais = 2.37 RETURN p
QRY [92]> MATCH (p :Pais ) WHERE n.name = 'Slovakia' SET n.WGI_Pais = 3.79 RETURN p
QRY [93]> MATCH (p :Pais ) WHERE n.name = 'South Africa' SET n.WGI_Pais = 4.65 RETURN p
QRY [94]> MATCH (p :Pais ) WHERE n.name = 'Spain' SET n.WGI_Pais = 3.62 RETURN p
QRY [95]> MATCH (p :Pais ) WHERE n.name = 'Sri Lanka' SET n.WGI_Pais = 5.36 RETURN p
QRY [96]> MATCH (p :Pais ) WHERE n.name = 'Sudan' SET n.WGI_Pais = 7.70 RETURN p
QRY [97]> MATCH (p :Pais ) WHERE n.name = 'Suriname' SET n.WGI_Pais = 5.16 RETURN p
QRY [98]> MATCH (p :Pais ) WHERE n.name = 'Sweden' SET n.WGI_Pais = 2.05 RETURN p
QRY [99]> MATCH (p :Pais ) WHERE n.name = 'Taiwan, China' SET n.WGI_Pais = 3.27 RETURN p
QRY [100]> MATCH (p :Pais ) WHERE n.name = 'Tajikistan' SET n.WGI_Pais = 6.88 RETURN p
QRY [101]> MATCH (p :Pais ) WHERE n.name = 'Tanzania' SET n.WGI_Pais = 5.74 RETURN p
QRY [102]> MATCH (p :Pais ) WHERE n.name = 'Thailand' SET n.WGI_Pais = 5.50 RETURN p
QRY [103]> MATCH (p :Pais ) WHERE n.name = 'Togo' SET n.WGI_Pais = 6.34 RETURN p
QRY [104]> MATCH (p :Pais ) WHERE n.name = 'Tunisia' SET n.WGI_Pais = 5.40 RETURN p
QRY [105]> MATCH (p :Pais ) WHERE n.name = 'Turkey' SET n.WGI_Pais = 5.34 RETURN p
QRY [106]> MATCH (p :Pais ) WHERE n.name = 'Uganda' SET n.WGI_Pais = 5.99 RETURN p
QRY [107]> MATCH (p :Pais ) WHERE n.name = 'Ukraine' SET n.WGI_Pais = 6.23 RETURN p
QRY [108]> MATCH (p :Pais ) WHERE n.name = 'United Arab Emirates' SET n.WGI_Pais = 3.94 RETURN p
QRY [109]> MATCH (p :Pais ) WHERE n.name = 'United Kingdom' SET n.WGI_Pais = 2.60 RETURN p
QRY [110]> MATCH (p :Pais ) WHERE n.name = 'United States' SET n.WGI_Pais = 2.92 RETURN p
QRY [111]> MATCH (p :Pais ) WHERE n.name = 'Uzbekistan' SET n.WGI_Pais = 6.98 RETURN p
QRY [112]> MATCH (p :Pais ) WHERE n.name = 'Venezuela, Rb' SET n.WGI_Pais = 7.30 RETURN p
QRY [113]> MATCH (p :Pais ) WHERE n.name = 'Vietnam' SET n.WGI_Pais = 5.75 RETURN p
QRY [114]> MATCH (p :Pais ) WHERE n.name = 'Zambia' SET n.WGI_Pais = 5.40 RETURN p
QRY [115]> MATCH (p :Pais ) WHERE n.name = 'Zimbabwe' SET n.WGI_Pais = 7.17 RETURN p

In [23]:
#comprobar que sigue abierta la conexión para enviar las queries a la BD 
graph_test01

Graph('bolt://localhost:7687')

In [25]:
# Crear un nodo por cada fila con sus propiedades
#nodos de PAIS,
# CREAR NODOS: "Pais" 
## query para crea nodo con sus  propiedades
TipoNodo = " :Pais " 
for i in range(0, nFilas):
    strQry = "MATCH (p"                                               \
        + TipoNodo                                                     \
        + ")"                                                            \
        + " WHERE p.name = '"                                           \
        + dfPaises.Pais[i]                                               \
        + "'"                                                            \
        + " SET p.WGI_Pais = "                                            \
        + str(dfPaises.WGI_Pais[i]).replace(",",".")                      \
        + " RETURN p" 
#ejecutar Query en BD abierta - Neo4j
    graph_test01.run(strQry)
#Visualizar Query ejecutada 
    print("EJECUTADA QRY [" + str(i) + "]> "+ strQry)
# nodos creados

EJECUTADA QRY [0]> MATCH (p :Pais ) WHERE p.name = 'Algeria' SET p.WGI_Pais = 6.43 RETURN p
EJECUTADA QRY [1]> MATCH (p :Pais ) WHERE p.name = 'Albania' SET p.WGI_Pais = 5.16 RETURN p
EJECUTADA QRY [2]> MATCH (p :Pais ) WHERE p.name = 'Argentina' SET p.WGI_Pais = 5.47 RETURN p
EJECUTADA QRY [3]> MATCH (p :Pais ) WHERE p.name = 'Armenia' SET p.WGI_Pais = 5.41 RETURN p
EJECUTADA QRY [4]> MATCH (p :Pais ) WHERE p.name = 'Australia' SET p.WGI_Pais = 2.36 RETURN p
EJECUTADA QRY [5]> MATCH (p :Pais ) WHERE p.name = 'Austria' SET p.WGI_Pais = 2.50 RETURN p
EJECUTADA QRY [6]> MATCH (p :Pais ) WHERE p.name = 'Bahrain' SET p.WGI_Pais = 5.15 RETURN p
EJECUTADA QRY [7]> MATCH (p :Pais ) WHERE p.name = 'Bangladesh' SET p.WGI_Pais = 6.41 RETURN p
EJECUTADA QRY [8]> MATCH (p :Pais ) WHERE p.name = 'Belarus' SET p.WGI_Pais = 6.18 RETURN p
EJECUTADA QRY [9]> MATCH (p :Pais ) WHERE p.name = 'Belgium' SET p.WGI_Pais = 2.81 RETURN p
EJECUTADA QRY [10]> MATCH (p :Pais ) WHERE p.name = 'Bolivia' SET p.WGI_Pais = 5.97 RETURN p
EJECUTADA QRY [11]> MATCH (p :Pais ) WHERE p.name = 'Brazil' SET p.WGI_Pais = 5.08 RETURN p
EJECUTADA QRY [12]> MATCH (p :Pais ) WHERE p.name = 'Bulgaria' SET p.WGI_Pais = 4.73 RETURN p
EJECUTADA QRY [13]> MATCH (p :Pais ) WHERE p.name = 'Burkina Faso' SET p.WGI_Pais = 5.74 RETURN p
EJECUTADA QRY [14]> MATCH (p :Pais ) WHERE p.name = 'Burundi' SET p.WGI_Pais = 7.00 RETURN p
EJECUTADA QRY [15]> MATCH (p :Pais ) WHERE p.name = 'Canada' SET p.WGI_Pais = 2.26 RETURN p
EJECUTADA QRY [16]> MATCH (p :Pais ) WHERE p.name = 'Chile' SET p.WGI_Pais = 3.11 RETURN p
EJECUTADA QRY [17]> MATCH (p :Pais ) WHERE p.name = 'China' SET p.WGI_Pais = 5.83 RETURN p
EJECUTADA QRY [18]> MATCH (p :Pais ) WHERE p.name = 'Colombia' SET p.WGI_Pais = 5.39 RETURN p
EJECUTADA QRY [19]> MATCH (p :Pais ) WHERE p.name = 'Congo, D.R.' SET p.WGI_Pais = 7.60 RETURN p
EJECUTADA QRY [20]> MATCH (p :Pais ) WHERE p.name = 'Cote D_Ivoire' SET p.WGI_Pais = 6.21 RETURN p
EJECUTADA QRY [21]> MATCH (p :Pais ) WHERE p.name = 'Cuba' SET p.WGI_Pais = 5.87 RETURN p
EJECUTADA QRY [22]> MATCH (p :Pais ) WHERE p.name = 'Czech Republic' SET p.WGI_Pais = 3.47 RETURN p
EJECUTADA QRY [23]> MATCH (p :Pais ) WHERE p.name = 'Denmark' SET p.WGI_Pais = 2.11 RETURN p
EJECUTADA QRY [24]> MATCH (p :Pais ) WHERE p.name = 'Dominican Republic' SET p.WGI_Pais = 5.40 RETURN p
EJECUTADA QRY [25]> MATCH (p :Pais ) WHERE p.name = 'Ecuador' SET p.WGI_Pais = 5.99 RETURN p
EJECUTADA QRY [26]> MATCH (p :Pais ) WHERE p.name = 'Egypt, Arab Rep.' SET p.WGI_Pais = 6.48 RETURN p
EJECUTADA QRY [27]> MATCH (p :Pais ) WHERE p.name = 'Estonia' SET p.WGI_Pais = 3.07 RETURN p
EJECUTADA QRY [28]> MATCH (p :Pais ) WHERE p.name = 'Ethiopia' SET p.WGI_Pais = 6.52 RETURN p
EJECUTADA QRY [29]> MATCH (p :Pais ) WHERE p.name = 'Finland' SET p.WGI_Pais = 1.98 RETURN p
EJECUTADA QRY [30]> MATCH (p :Pais ) WHERE p.name = 'France' SET p.WGI_Pais = 3.11 RETURN p
EJECUTADA QRY [31]> MATCH (p :Pais ) WHERE p.name = 'Gabon' SET p.WGI_Pais = 5.97 RETURN p
EJECUTADA QRY [32]> MATCH (p :Pais ) WHERE p.name = 'Georgia' SET p.WGI_Pais = 4.47 RETURN p
EJECUTADA QRY [33]> MATCH (p :Pais ) WHERE p.name = 'Germany' SET p.WGI_Pais = 2.47 RETURN p
EJECUTADA QRY [34]> MATCH (p :Pais ) WHERE p.name = 'Ghana' SET p.WGI_Pais = 4.94 RETURN p
EJECUTADA QRY [35]> MATCH (p :Pais ) WHERE p.name = 'Greece' SET p.WGI_Pais = 4.60 RETURN p
EJECUTADA QRY [36]> MATCH (p :Pais ) WHERE p.name = 'Guatemala' SET p.WGI_Pais = 6.00 RETURN p
EJECUTADA QRY [37]> MATCH (p :Pais ) WHERE p.name = 'Guinea' SET p.WGI_Pais = 6.72 RETURN p
EJECUTADA QRY [38]> MATCH (p :Pais ) WHERE p.name = 'Guyana' SET p.WGI_Pais = 5.56 RETURN p
EJECUTADA QRY [39]> MATCH (p :Pais ) WHERE p.name = 'Hong Kong' SET p.WGI_Pais = 2.56 RETURN p
EJECUTADA QRY [40]> MATCH (p :Pais ) WHERE p.name = 'Hungary' SET p.WGI_Pais = 4.06 RETURN p
EJECUTADA QRY [41]> MATCH (p :Pais ) WHERE p.name = 'Iceland' SET p.WGI_Pais = 2.52 RETURN p
EJECUTADA QRY [42]> MATCH (p :Pais ) WHERE p.name = 'India' SET p.WGI_Pais = 5.45 RETURN p
EJECUTADA QRY [43]> MATCH (p :Pais ) WHERE p.name = 'Indonesia' SET p.WGI_Pais = 5.47 RETURN p
EJECUTADA QRY [44]> MATCH (p :Pais ) WHERE p.name = 'Iran, Islamic Rep.' SET p.WGI_Pais = 6.65 RETURN p
EJECUTADA QRY [45]> MATCH (p :Pais ) WHERE p.name = 'Iraq' SET p.WGI_Pais = 7.35 RETURN p
EJECUTADA QRY [46]> MATCH (p :Pais ) WHERE p.name = 'Ireland' SET p.WGI_Pais = 2.58 RETURN p
EJECUTADA QRY [47]> MATCH (p :Pais ) WHERE p.name = 'Israel' SET p.WGI_Pais = 3.83 RETURN p
EJECUTADA QRY [48]> MATCH (p :Pais ) WHERE p.name = 'Italy' SET p.WGI_Pais = 4.17 RETURN p
EJECUTADA QRY [49]> MATCH (p :Pais ) WHERE p.name = 'Jamaica' SET p.WGI_Pais = 4.85 RETURN p
EJECUTADA QRY [50]> MATCH (p :Pais ) WHERE p.name = 'Japan' SET p.WGI_Pais = 2.77 RETURN p
EJECUTADA QRY [51]> MATCH (p :Pais ) WHERE p.name = 'Jordan' SET p.WGI_Pais = 5.16 RETURN p
EJECUTADA QRY [52]> MATCH (p :Pais ) WHERE p.name = 'Kazakhstan' SET p.WGI_Pais = 5.90 RETURN p
EJECUTADA QRY [53]> MATCH (p :Pais ) WHERE p.name = 'Kenya' SET p.WGI_Pais = 6.03 RETURN p
EJECUTADA QRY [54]> MATCH (p :Pais ) WHERE p.name = 'Korea, Dem. Rep.' SET p.WGI_Pais = 7.74 RETURN p
EJECUTADA QRY [55]> MATCH (p :Pais ) WHERE p.name = 'Korea, Rep.' SET p.WGI_Pais = 3.74 RETURN p
EJECUTADA QRY [56]> MATCH (p :Pais ) WHERE p.name = 'Kuwait' SET p.WGI_Pais = 5.24 RETURN p
EJECUTADA QRY [57]> MATCH (p :Pais ) WHERE p.name = 'Kyrgyz Republic' SET p.WGI_Pais = 6.30 RETURN p
EJECUTADA QRY [58]> MATCH (p :Pais ) WHERE p.name = 'Lao Pdr' SET p.WGI_Pais = 6.25 RETURN p
EJECUTADA QRY [59]> MATCH (p :Pais ) WHERE p.name = 'Lithuania' SET p.WGI_Pais = 3.50 RETURN p
EJECUTADA QRY [60]> MATCH (p :Pais ) WHERE p.name = 'Liberia' SET p.WGI_Pais = 6.29 RETURN p
EJECUTADA QRY [61]> MATCH (p :Pais ) WHERE p.name = 'Madagascar' SET p.WGI_Pais = 6.26 RETURN p
EJECUTADA QRY [62]> MATCH (p :Pais ) WHERE p.name = 'Malaysia' SET p.WGI_Pais = 4.39 RETURN p
EJECUTADA QRY [63]> MATCH (p :Pais ) WHERE p.name = 'Mali' SET p.WGI_Pais = 6.39 RETURN p
EJECUTADA QRY [64]> MATCH (p :Pais ) WHERE p.name = 'Mexico' SET p.WGI_Pais = 5.33 RETURN p
EJECUTADA QRY [65]> MATCH (p :Pais ) WHERE p.name = 'Mongolia' SET p.WGI_Pais = 5.18 RETURN p
EJECUTADA QRY [66]> MATCH (p :Pais ) WHERE p.name = 'Morocco' SET p.WGI_Pais = 5.48 RETURN p
EJECUTADA QRY [67]> MATCH (p :Pais ) WHERE p.name = 'Mozambique' SET p.WGI_Pais = 5.93 RETURN p
EJECUTADA QRY [68]> MATCH (p :Pais ) WHERE p.name = 'Myanmar' SET p.WGI_Pais = 6.95 RETURN p
EJECUTADA QRY [69]> MATCH (p :Pais ) WHERE p.name = 'Namibia' SET p.WGI_Pais = 4.44 RETURN p
EJECUTADA QRY [70]> MATCH (p :Pais ) WHERE p.name = 'Netherlands' SET p.WGI_Pais = 2.19 RETURN p
EJECUTADA QRY [71]> MATCH (p :Pais ) WHERE p.name = 'New Caledonia' SET p.WGI_Pais = 3.23 RETURN p
EJECUTADA QRY [72]> MATCH (p :Pais ) WHERE p.name = 'Nigeria' SET p.WGI_Pais = 6.83 RETURN p
EJECUTADA QRY [73]> MATCH (p :Pais ) WHERE p.name = 'Norway' SET p.WGI_Pais = 2.03 RETURN p
EJECUTADA QRY [74]> MATCH (p :Pais ) WHERE p.name = 'Oman' SET p.WGI_Pais = 4.70 RETURN p
EJECUTADA QRY [75]> MATCH (p :Pais ) WHERE p.name = 'Others' SET p.WGI_Pais = 0.00 RETURN p
EJECUTADA QRY [76]> MATCH (p :Pais ) WHERE p.name = 'Other EU' SET p.WGI_Pais = 0.00 RETURN p
EJECUTADA QRY [77]> MATCH (p :Pais ) WHERE p.name = 'Other non EU' SET p.WGI_Pais = 0.00 RETURN p
EJECUTADA QRY [78]> MATCH (p :Pais ) WHERE p.name = 'Pakistan' SET p.WGI_Pais = 6.78 RETURN p
EJECUTADA QRY [79]> MATCH (p :Pais ) WHERE p.name = 'Panama' SET p.WGI_Pais = 4.79 RETURN p
EJECUTADA QRY [80]> MATCH (p :Pais ) WHERE p.name = 'Papua New Guinea' SET p.WGI_Pais = 5.94 RETURN p
EJECUTADA QRY [81]> MATCH (p :Pais ) WHERE p.name = 'Peru' SET p.WGI_Pais = 5.30 RETURN p
EJECUTADA QRY [82]> MATCH (p :Pais ) WHERE p.name = 'Philippines' SET p.WGI_Pais = 5.49 RETURN p
EJECUTADA QRY [83]> MATCH (p :Pais ) WHERE p.name = 'Poland' SET p.WGI_Pais = 3.60 RETURN p
EJECUTADA QRY [84]> MATCH (p :Pais ) WHERE p.name = 'Portugal' SET p.WGI_Pais = 3.34 RETURN p
EJECUTADA QRY [85]> MATCH (p :Pais ) WHERE p.name = 'Qatar' SET p.WGI_Pais = 4.03 RETURN p
EJECUTADA QRY [86]> MATCH (p :Pais ) WHERE p.name = 'Russian Federation' SET p.WGI_Pais = 6.20 RETURN p
EJECUTADA QRY [87]> MATCH (p :Pais ) WHERE p.name = 'Rwanda' SET p.WGI_Pais = 5.17 RETURN p
EJECUTADA QRY [88]> MATCH (p :Pais ) WHERE p.name = 'Saudi Arabia' SET p.WGI_Pais = 5.51 RETURN p
EJECUTADA QRY [89]> MATCH (p :Pais ) WHERE p.name = 'Senegal' SET p.WGI_Pais = 5.21 RETURN p
EJECUTADA QRY [90]> MATCH (p :Pais ) WHERE p.name = 'Sierra Leone' SET p.WGI_Pais = 6.17 RETURN p
EJECUTADA QRY [91]> MATCH (p :Pais ) WHERE p.name = 'Singapore' SET p.WGI_Pais = 2.37 RETURN p
EJECUTADA QRY [92]> MATCH (p :Pais ) WHERE p.name = 'Slovakia' SET p.WGI_Pais = 3.79 RETURN p
EJECUTADA QRY [93]> MATCH (p :Pais ) WHERE p.name = 'South Africa' SET p.WGI_Pais = 4.65 RETURN p
EJECUTADA QRY [94]> MATCH (p :Pais ) WHERE p.name = 'Spain' SET p.WGI_Pais = 3.62 RETURN p
EJECUTADA QRY [95]> MATCH (p :Pais ) WHERE p.name = 'Sri Lanka' SET p.WGI_Pais = 5.36 RETURN p

EJECUTADA QRY [96]> MATCH (p :Pais ) WHERE p.name = 'Sudan' SET p.WGI_Pais = 7.70 RETURN p
EJECUTADA QRY [97]> MATCH (p :Pais ) WHERE p.name = 'Suriname' SET p.WGI_Pais = 5.16 RETURN p
EJECUTADA QRY [98]> MATCH (p :Pais ) WHERE p.name = 'Sweden' SET p.WGI_Pais = 2.05 RETURN p
EJECUTADA QRY [99]> MATCH (p :Pais ) WHERE p.name = 'Taiwan, China' SET p.WGI_Pais = 3.27 RETURN p
EJECUTADA QRY [100]> MATCH (p :Pais ) WHERE p.name = 'Tajikistan' SET p.WGI_Pais = 6.88 RETURN p
EJECUTADA QRY [101]> MATCH (p :Pais ) WHERE p.name = 'Tanzania' SET p.WGI_Pais = 5.74 RETURN p
EJECUTADA QRY [102]> MATCH (p :Pais ) WHERE p.name = 'Thailand' SET p.WGI_Pais = 5.50 RETURN p
EJECUTADA QRY [103]> MATCH (p :Pais ) WHERE p.name = 'Togo' SET p.WGI_Pais = 6.34 RETURN p
EJECUTADA QRY [104]> MATCH (p :Pais ) WHERE p.name = 'Tunisia' SET p.WGI_Pais = 5.40 RETURN p
EJECUTADA QRY [105]> MATCH (p :Pais ) WHERE p.name = 'Turkey' SET p.WGI_Pais = 5.34 RETURN p
EJECUTADA QRY [106]> MATCH (p :Pais ) WHERE p.name = 'Uganda' SET p.WGI_Pais = 5.99 RETURN p
EJECUTADA QRY [107]> MATCH (p :Pais ) WHERE p.name = 'Ukraine' SET p.WGI_Pais = 6.23 RETURN p
EJECUTADA QRY [108]> MATCH (p :Pais ) WHERE p.name = 'United Arab Emirates' SET p.WGI_Pais = 3.94 RETURN p
EJECUTADA QRY [109]> MATCH (p :Pais ) WHERE p.name = 'United Kingdom' SET p.WGI_Pais = 2.60 RETURN p
EJECUTADA QRY [110]> MATCH (p :Pais ) WHERE p.name = 'United States' SET p.WGI_Pais = 2.92 RETURN p
EJECUTADA QRY [111]> MATCH (p :Pais ) WHERE p.name = 'Uzbekistan' SET p.WGI_Pais = 6.98 RETURN p
EJECUTADA QRY [112]> MATCH (p :Pais ) WHERE p.name = 'Venezuela, Rb' SET p.WGI_Pais = 7.30 RETURN p
EJECUTADA QRY [113]> MATCH (p :Pais ) WHERE p.name = 'Vietnam' SET p.WGI_Pais = 5.75 RETURN p
EJECUTADA QRY [114]> MATCH (p :Pais ) WHERE p.name = 'Zambia' SET p.WGI_Pais = 5.40 RETURN p
EJECUTADA QRY [115]> MATCH (p :Pais ) WHERE p.name = 'Zimbabwe' SET p.WGI_Pais = 7.17 RETURN p

In [26]:
dfGraphMat= graph_test01.run("MATCH (n :Pais ) RETURN n").data()

In [27]:
dfGraphMat[0]

{'n': Node('Pais', Pais_iso3='DZA', WGI_Pais=6.43, name='Algeria')}

In [29]:
#validamos que todos los -nuevos- nodos se han creado :Pais  
graph_test01.run("MATCH (n :Pais) RETURN  LABELS(n), COUNT(n), COUNT(n.WGI_Pais)")

 LABELS(n) | COUNT(n) | COUNT(n.WGI_Pais)
-----------|----------|-------------------
 ['Pais']  |      116 |               116

In [30]:
#validamos que todos los nodos se han creado (hasta este paso)
queryPRB= "MATCH (n)                                    \
RETURN labels (n)[0] as name, count (n) as Ntotal       \
UNION MATCH (n)                                         \
WITH labels (n)[1] as name, count (n) as Ntotal         \
WHERE name IS NOT NULL                                  \
RETURN name, Ntotal                                     \
UNION MATCH (n)                                         \
WITH labels (n)[2] as name, count (n) as Ntotal         \
WHERE name IS NOT NULL                                  \
RETURN  name, Ntotal                                    \
"
graph_test01.run(queryPRB)

 name        | Ntotal
-------------|--------
 MaterialB   |     78
 MaterialREF |     78
 Pais        |    116

# fin proceso - Propiedad WGI_Pais creada en cada nodo  PAIS- CREADOS

In [81]:
# fin archivo